@use '../utilities/breakpoints.scss' as *;

.header {

  &__wrapper {
    display: flex;
    padding: 1.5rem 0;
    background-color: var(--light-blue);
    height: 70px;
    width: 100%;

    @include breakpoint(medium) {
      height: 100%;
    }
  }

  &__container {
    display: initial;
    
    @include breakpoint(medium) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-image {

      > a > img {
        width: 100%;

        @include breakpoint(medium) {
          width: 200px;
        }
      }
    }

    &-button {
      cursor: pointer;

      @include breakpoint(medium) {
        display: none;
      }

      .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: var(--white);
      }

      &.-active {

        > .bar:nth-child(2) {
          opacity: 0;
        }

        > .bar:nth-child(1) {
          transform: translateY(8px) rotate(45deg);
        }

        > .bar:nth-child(3) {
          transform: translateY(-8px) rotate(-45deg);
        }
      }
    }
  }

  &__nav {
    
    &-menu {
      background-color: var(--white);
      position: relative;
      display: flex;
      text-align: center;
      justify-content: center;
      margin: 2rem 0 1rem 0;
      padding: 2rem 0;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
      position: relative;
  
      @include breakpoint(medium) {
        display: flex;
        margin: 0;
        padding: 0;
        background-color: transparent;
        opacity: 1;
      }

      &::before {
        content: "";
        position: absolute;
        top: -20px;
        right: 0;
        background-color: var(--white);
        border-top: 10px solid var(--light-blue);
        border-right: 10px solid var(--white);
        border-left: 10px solid var(--light-blue);
        border-bottom: 10px solid var(--white);
  
        @include breakpoint(medium) {
          border: none;
        }
      }
  
      // mobile menu : active state
      &.is_active {
        opacity: 1;
        z-index: 1;
      }
    }

    &-unordered {
      display: block;
      line-height: 3.5;

      @include breakpoint(medium) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 480px;
      }
    }

    &-list > &-anchor {
      color: var(--dark-grayish-blue);

      @include breakpoint(medium) {
        color: var(--white);
      }

      &:hover {
        color: var(--yellow);
        transition: all 0.3s ease-in-out;
      }
    }

    &-list:last-child {
      font-family: var(--font-heading);
      padding: 0 1.85rem;
      background-color: var(--yellow);
      margin-top: 1rem;
      border-radius: 50px;
      cursor: pointer;
      transition: 0.3s ease-in-out;
      
      @include breakpoint(medium) {
        margin-top: 0;
        background-color: var(--white);
      }
    }

    &-list:last-child > &-anchor {
      transition: 0.3s ease-in-out;
      color: var(--dark-blue);
    }
    
    &-list:last-child:hover {
      background-color: var(--light-blue);
      
      @include breakpoint(medium) {
        background-color: var(--light-blue-hover);
      }
    }

    &-list:last-child:hover > &-anchor:last-child {
      transition: 0.3s ease-in-out;
      color: var(--white);
    }
  }
}