@use '../utilities/breakpoints.scss' as *;

.container {
  max-width: 1440px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

  @include breakpoint(medium) {
    padding-left: 40px;
    padding-right: 40px;
  }
}